@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
/* Hide scrollbar but allow scrolling */
#right-panel {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#right-panel::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

main, section {
  box-sizing: border-box;
}

/* body {
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.loaded {
  opacity: 1;
} */
 
header{
  padding: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1800px) {
  header{
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
  
  .left-panel{
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
  .right-frames{
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  
}
}

@media (min-width: 2500px) {
  header{
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  }
  
  .left-panel{
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  }
  .right-frames{
    padding-left: 14rem !important;
    padding-right: 14rem !important;
  
}
}

.fade-slide {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.fade-slide.show {
  opacity: 1;
  transform: translateY(0);
}

